# Dependencies
node_modules/
dist/
build/

# Sensitive Environment Configurations
.env
.env.local

# AWS Private Keys (Security)
oj-key.pem

# Prisma Local Telemetry Logs
/prisma/migrations/migration_lock.toml

# System & Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db